@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Public Sans';
  src: url('../public/PublicSans-Regular.ttf') format('woff2'),
    url('../public/PublicSans-Regular.ttf') format('woff'),
    url('../public/PublicSans-Regular.ttf') format('truetype'); /* Fallbacks */
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: 'Public Sans';
  src: url('../public/PublicSans-Bold.ttf') format('woff2'),
    url('../public/PublicSans-Bold.ttf') format('woff'),
    url('../public/PublicSans-Bold.ttf') format('truetype'); /* Fallbacks */
  font-weight: 700; /* Bold weight */
}

@font-face {
  font-family: 'Public Sans';
  src: url('../public/PublicSans-Medium.ttf') format('woff2'),
    url('../public/PublicSans-Medium.ttf') format('woff'),
    url('../public/PublicSans-Medium.ttf') format('truetype'); /* Fallbacks */
  font-weight: 500; /* med weight */
}

.font-puplic-sans {
  font-family: 'Public Sans';
  font-weight: 400;
}

.font-puplic-sans-bold {
  font-family: 'Public Sans';
  font-weight: 700;
}

.design-shadow {
  box-shadow: 0px 2px 8px 0px #2f2b3d1f;
}
